/vendor
/node_modules
.env

/storage/*
!/storage/app
!/storage/app/public
!/storage/app/public/.gitignore
!/storage/framework
!/storage/framework/.gitignore
!/storage/logs
!/storage/logs/.gitignore

/bootstrap/cache/*.php
/public/storage
